{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}
{{#partial "content"}}
<div class="banner">
    <div class="banner-content">
        <h1 class="we">LEE.MUR_KING WILDLIFE TRACKER</h1>
        <p class="we">Welcome to Leemurking Wildlife Tracker. Tell us what you see!</p>
    </div>
    <div class="banner-img">
        <h2>WELCOME FRIEND</h2>
    </div>
</div>
<div class="nav"><button id="nav-btn"></button>
    <div class="list"></div>

</div>
<div class="wrapper">
    <div class="left-col">
        <ul class="side-menu-items">
            <li class="sliding-u-l-r-l">
                <a class="nav-link" href="/animals/new">Animals</a>
            </li>
            <li class="sliding-u-l-r-l">
                <a class="nav-link" href="/sightings/new">Sightings</a>
            </li>
            <li class="sliding-u-l-r-l">
                <a class="nav-link" href="/rangers/new">Rangers</a>
            </li>
            <li class="sliding-u-l-r-l">
                <a class="nav-link" href="/locations/new">Location</a>
            </li>
        </ul>
    </div>
    <div class="main-col">
        <div class="content">
            <div id="slider">
                <figure>
                    <img src="images/elephant.jpg">
                    <img src="images/monk.jpg">
                    <img src="images/stare.jpg">
                </figure>
            </div>
        </div>
    </div>
</div>








{{/partial}}
{{> layout.hbs}}